<div class="grid-fluid">

  <div class="footer-block ng-star-inserted">
    <h3>Resources</h3>
    <ul>
      <!---->
      <li class="ng-star-inserted">
        <a class="link" href="about" title="Angular contributors.">About</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="resources" title="Angular tools, training, and blogs from around the web.">Resource Listing</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="presskit" title="Press contacts, logos, and branding.">Press Kit</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://blog.angular.io/" title="Angular Blog">Blog</a>
      </li>
    </ul>
  </div>
  <div class="footer-block ng-star-inserted">
    <h3>Help</h3>
    <ul>
      <!---->
      <li class="ng-star-inserted">
        <a class="link" href="https://stackoverflow.com/questions/tagged/angular" title="Stack Overflow: where the community answers your technical Angular questions.">Stack Overflow</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://gitter.im/angular/angular" title="Chat about Angular with other birds of a feather.">Gitter</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://github.com/angular/angular/issues" title="Post issues and suggestions on github.">Report Issues</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md" title="Treating each other with respect.">Code of Conduct</a>
      </li>
    </ul>
  </div>
  <div class="footer-block ng-star-inserted">
    <h3>Community</h3>
    <ul>
      <!---->
      <li class="ng-star-inserted">
        <a class="link" href="events" title="Post issues and suggestions on github.">Events</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="http://www.meetup.com/topics/angularjs/" title="Attend a meetup and learn from fellow developers.">Meetups</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://twitter.com/angular" title="Twitter">Twitter</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://github.com/angular/angular" title="GitHub">GitHub</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="contribute" title="Contribute to Angular">Contribute</a>
      </li>
    </ul>
  </div>
  <div class="footer-block ng-star-inserted">
    <h3>Languages</h3>
    <ul>
      <!---->
      <li class="ng-star-inserted">
        <a class="link" href="https://angular.cn/" title="中文版">中文版</a>
      </li>
      <li class="ng-star-inserted">
        <a class="link" href="https://angular.jp/" title="日本語版">日本語版</a>
      </li>
    </ul>
  </div>
</div>
<p> Powered by Google ©2010-2018. Code licensed under an
  <a href="license" title="License text">MIT-style License</a>. Documentation licensed under
<a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>. </p>
<p> Version 6.1.1-build.47229+sha.74964bd. </p>