footer{
    width: 100
}

#menu {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
   background-color: blue;
}

ul {
    list-style-type: none;
    padding: 0%;

}
 menu div {
     text-align: center;
 }
#cc {
    text-align: center;
    background-color: blue;
}